<h1></h1>
<section>
  <div
    class="row g-5 py-4 mb-4 justify-content-center"
    style="margin-right: 500;
    margin-left: -500;
    width: 94%;"
  >
    <!-- Center the row horizontally -->
    <div class="col-12 col-lg-6 text-left">
      <!-- Your content here -->
    </div>
    <div
      class="col-12 col-lg-6"
      style="margin-left: auto;
    margin-right: auto;"
    >
      <h1 class="display-5 fw-bold mb-3">Wide varieties of delicious recipe
        ideas</h1>
      <p>
        Explore our huge selection of delicious recipe ideas including easy
        desserts, veg and non-veg dinner ideas, yummy pasta recipes, quick
        bakes, family-friendly meals, and gluten-free recipes.
      </p>
      <div class="d-grid d-md-flex justify-content-md-start">
        <a
          href="/recipe/create"
          class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
        >Create Recipe</a>
        <a
          href="/recipe/random"
          class="btn btn-outline-secondary btn-light btn-lg px-4 me-md-2"
        >Random Recipe</a>
      </div>
    </div>
  </div>
</section>

<!-- submit start -->
<section>
  <div class="mx-auto">
    <!-- Center the section horizontally -->
    <img
      src="/images/publish-recipe (1).png"
      alt="Publish your recipe for free today"
      class="fix"
      loading="lazy"
      width="566"
      height="208"
    />
    {{! <h1 class="display-5 fw-bold">Publish your recipe for FREE today</h1> }}
    {{!-- <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Publish your recipe in front of thousands of people
        for free</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit
          Recipe</a>
      </div> --}}
    </div>
  </div>
</section>